/*

*/


#map > div > div.ol-overlaycontainer-stopevent.olcs-hideoverlay > div:nth-child(4) > button {
background-color: black;
}

#dimension_button {
    background-color:black;
    border-color: rgba(255,255,255,0.4);
    color: white;
    border-radius: 4px;
    border-width: medium;
    padding: 8px;
    font-size: 1em;
    font-weight: bold;
    font-family: "Stencil Std", fantasy, sans-serif;
}
