/*

*/


#map > div > div.ol-overlaycontainer-stopevent.olcs-hideoverlay > div:nth-child(4) > button {
background-color: black;
}


/* Overwrite default styles*/

/*button --> zoom, layerswitcher*/
.ol-control button{
    width: 2em;
    height: 2em;
    background-color: black;
    border: None;
    #color:white;
    font-family: 'Impact', fantasy, sans-serif;
}

.ol-control button:hover {
    background: black;
    #border: 2px solid #e6ce1d;
    border-radius: 5px;
    color:#fdec00;
}

.ol-control button:focus{
    background-color:black;
    outline: none;
}

/*select --> Moonswitcher dropdown menu*/
.ol-control select{
    background-color: black;
    border: None;
    color:white;
    font-weight: bold;
    font-family: 'Impact', fantasy, sans-serif;
}

.ol-control select:hover {
    color:#fdec00;
}

.ol-control option{
    color:white;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Impact', fantasy, sans-serif;
}

/*this part doesn't work yet*/
.ol-control option:hover{
    background: black;
    color:#fdec00;
}
/*still orange when hovering over items*/


.ol-control select:focus{
    background-color:black;
    outline: none;
}

.ol-control{
    background-color: black;
}

.ol-control:hover{
    background-color: black;
}

/*Moonswitcher placements, so it doesn't overlap with other buttons*/
.ol-moonswitcher {
    top: .5em;
    right: 15em;
    transition: opacity .25s linear, visibility 0s linear;
}

