/*

*/


#map > div > div.ol-overlaycontainer-stopevent.olcs-hideoverlay > div:nth-child(4) > button {
background-color: black;
}


/* Overwrite default styles*/
.ol-control{
    background-color: black;
}

.ol-control:hover{
    background-color: black;
}

/*button --> zoom, layerswitcher*/
.ol-control button{
    width: 2em;
    height: 2em;
    background-color: black;
    border: None;
    #color:white;
    font-family: 'Impact', fantasy, sans-serif;
}

.ol-control button:hover {
    background: black;
    #border: 2px solid #e6ce1d;
    border-radius: 5px;
    color:#fdec00;
}

.ol-control button:focus{
    background-color:black;
    outline: none;
}

/*select --> Moonswitcher dropdown menu*/
.ol-control select{
    background-color: black;
    border: None;
    color:white;
    font-weight: bold;
    font-family: 'Impact', fantasy, sans-serif;
}

.ol-control select:hover {
    color:#fdec00;
}

.ol-control select:focus{
    background-color:black;
    outline: none;
}

.ol-control option{
    color:white;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Impact', fantasy, sans-serif;
}

.ol-control option[value="Mimas"]{
    color:white;/*works*/
    outline:none;/*no effect*/
    font-size: 20px; /*works (for testing)*/
}

.ol-control option[value="Enceladus"]{
    color:white;/*works*/
    outline:none;/*no effect*/
    font-size: 20px; /*works (for testing)*/
}

/*still orange when hovering over items, because it is the ubuntu dropdown color*/
.ol-control option[value="Mimas"]:visited{
    color:#fdec00;/*works*/
    outline:none;/*no effect*/
    font-size: 13px; /*no effect (for testing)*/
}
/*what I have tried*/ 
/*option:,hover, active, focus, select
select:hover, active
select#mySelect,(:)option
select#mySelect option:hover,active,focus,focus-within,visited
.ol-control option[value="Mimas"]:hover,active,focus,focus-within,visited
*/


/**/


/*Moonswitcher placements, so it doesn't overlap with other buttons*/
.ol-moonswitcher {
    top: .5em;
    right: 15em;
    transition: opacity .25s linear, visibility 0s linear;
}

